/** Java Marine API stylesheet <http://marineapi.sf.net/> */

#frame {
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
}

#content {
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
}

#footer {
	color: silver;
	font-size: 0.75em;
	margin-top: 2.0em;
	border-top: 1px solid silver;
}

#buttons {
	color: #000000;
    font-size: 0.8em;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}

#close, #oldReleases {
	display: none;
}

body {
	color: #00000;
	background: #FFFFFF;
}

h1 {
	letter-spacing: 0.2em;
	border-bottom: 1px solid silver;
}

h1, h2, h3, h4 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: green;
	font-weight: normal;
}

h2 {
	margin-top: 1.5em;
	border-bottom: 1px dashed silver;
}
